[Desktop Entry]
Type=Application
Version=1.0
Name=Mounter
comment=Mount cloud storage
Icon=pindleicon
Exec=/usr/share/pixmaps/Pindle/Mounter
Categories=Utility;
StartupNotify=true
Terminal=false
